@font-face {
  font-family: "iconfont"; /* Project id 3645983 */
  src: url('iconfont.woff2?t=1663064316523') format('woff2'),
       url('iconfont.woff?t=1663064316523') format('woff'),
       url('iconfont.ttf?t=1663064316523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuque:before {
  content: "\e880";
}

.icon-github:before {
  content: "\e885";
}

.icon-bilibili:before {
  content: "\e75d";
}

.icon-email:before {
  content: "\e77e";
}

